// GOOGLE COLORS
    $grey900: #212121;
    $grey700: #616161;
    $grey500: #9E9E9E;
    $grey300: #E0E0E0;
    $grey100: #F5F5F5;

    $red900: #B71C1C;
    $red700: #D32F2F;
    $red500: #F44336;
    $red100: #FFCDD2;
    
    $orange900: #E65100;
    $orange700: #F57C00;
    $orange500: #FF9800;
    $orange100: #FFE0B2;

    $yellow900: #F57F17;
    $yellow700: #FBC02D;
    $yellow500: #FFEB3B;
    $yellow100: #FFF9C4;

    $green900: #1B5E20;
    $green700: #388E3C;
    $green500: #4CAF50;
    $green100: #C8E6C9;

    $blue900: #0D47A1;
    $blue700: #1976D2;
    $blue500: #2196F3;
    $blue100: #BBDEFB;

    $purple900: #4A148C;
    $purple700: #7B1FA2;
    $purple500: #9C27B0;
    $purple100: #E1BEE7;

// SOCIAL ICON COLORS
    $gitHub: #4DCE7D;
    $stackOverflow: #F67A00;
    $drupal: #009EE1;
    $codepen: #4D4D50;
    $linkedIn: #0077B5;
    $twitter: #5EA9DD; 
    $facebook: #4867AA; 
    $googlePlus: #DD4B39;
    $skype: #00ADEF;