@import '_variables';

////////////////////////////////////
// GENERAL OVERRIDES
////////////////////////////////////
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

////////////////////////////////////
// ANGULARJS HELPERS
////////////////////////////////////
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

// Hack to remove unwanted margins added in the background.
ul {
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}

////////////////////////////////////
// HEADER
////////////////////////////////////
header {
    height: 100px;
    width: 100%;
    padding-top: 5px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background: $grey900;
    img {
        display: block;
        margin: 5px auto;
        height: 90px;
        max-width: 100%;
    }
}

////////////////////////////////////
// NAVBAR
////////////////////////////////////
.navbar {
    position: relative;
    margin-bottom: -80px;
    height: 80px;
    width: 100%;
    display: block;
    z-index: 999;
    background: $grey900;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    line-height: 80px;
    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    -ms-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out; 
    ul { 
        list-style: none;
        overflow: hidden;
        li a {
            display: block;
            color: white;
            padding: 0 16px;
            text-decoration: none;
            font-size: 1.2em;
            float: left;
            line-height: 80px;
             &:hover {background: $grey700;}
        }  
    }
}

.navbar-on-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    line-height: 80px;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
    ul { 
        list-style: none;
        overflow: hidden;
        li a {
            display: block;
            color: $grey900;
            &:hover {background: $grey300;}
        }  
    }
}

////////////////////////////////////
// SECTION STYLES
////////////////////////////////////
.anchor{
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.section-container {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: auto;
    p {color: black;}
    a {text-decoration: none;}
    h1, h2 {
        color: white;
        margin: 0;
        font-weight: 100;
        font-size: 3em;
        text-align: center;
        line-height: 80px;
    }
    h2 {
        font-size: 1.5em;
        line-height: 50px;
    }
    img {
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        -webkit-transition: all 0.5s ease; 
        -moz-transition: all 0.5s ease; 
        -o-transition: all 0.5s ease; 
        -ms-transition: all 0.5s ease; 
        transition: all 0.5s ease;
        &:hover {
            -webkit-transform:scale(1.1); 
            -moz-transform:scale(1.1); 
            -ms-transform:scale(1.1); 
            -o-transform:scale(1.1); 
             transform:scale(1.1); 
        }
    }
}

.section-title-container {
    display: block;
    width: 100%;
    height: 80px;
}

.landing {
    margin-top: 80px;
    height: calc(100% - 180px);
    background-image:url(/img/landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1, p {
        margin-top: 4%;
        text-align: center;
        color: white;
        font-size: 10em;
        font-weight: bold;
    }
    p {
        margin-top: 100px;
        font-size: 2em;
        font-style: italic;
        font-weight: 100;
    }
}

.landing-content {
    padding: 20%;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(33, 33, 33, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

.web-developement {
    background: $red500;
    .section-title-container {background: $red700;} 
    .tile-title-container {background: $red900;}
    .tile-content-container {background: $red100;}
}

.digital-designs {
    background: $orange500;
    .section-title-container {background: $orange700;} 
    .tile-title-container {background: $orange900;}
    .tile-content-container {background: $orange100;}
}

.branding {
    background: $yellow500;
    .section-title-container {background: $yellow700;}
    .tile-title-container {background: $yellow900;}
    .tile-content-container {background: $yellow100;}
}

.education {
    background: $green500;
    .section-title-container {background: $green700} 
    .tile-title-container {background: $green900;}
    .tile-content-container {background: $green100;}
}

.awards {
    background: $blue500;
    .section-title-container {background: $blue700;}
    .tile-title-container {background: $blue900;}
    .tile-content-container {background: $blue100;}
}

.employment {
    background: $purple500;
    .section-title-container {background: $purple700;}
    .tile-title-container {background: $purple900;}
    .tile-content-container {background: $purple100;}
}

////////////////////////////////////
// TILE STYLES
////////////////////////////////////
.tile-container {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.tile-content {
    height: auto;
    margin: 0 0 0 4%;
}

.tile {
    margin: 4% 4% 4% 0;
    width: 29%;
    height: 500px;
    background: none;
    float: left;
    &:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    }
}

.tile-title-container {
    width: 100%;
    height: 50px;
    background: $grey900;
}


.tile-image-container {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background: white;
    overflow: hidden;
}

.tile-content-container {
    width: 100%;
    height: 150px;
    padding: 0 20px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    p {
        padding: 0;
        margin: 20px;
        font-size: 1em;
        text-align: center;
        vertical-align: middle;  
    }

}

////////////////////////////////////
// FOOTER STYLES
////////////////////////////////////

.social-icons-container {
    height: 48px;
    width: 624px;
    margin: 0 auto;
}

.social-icons {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    height: 48px;
    width: 48px;
    float: left;
    margin-right: 24px;
    font-size: 28px;
    background: $grey700;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 25px;
    &:hover {color: white;}
}

.last-icon {margin-right: 0px;}
.social a {color: $grey500;}

.tagline {
    margin: 20px;
    a {
        color: white;
        text-decoration: none;
        &:hover {text-decoration: underline;}
    }
}
.footer {
    padding: 10px;
    height: auto;
    width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background: $grey900;
    img {
        display: block;
        margin: 5px auto;
        height: 90px;
    }
    p, h2{
        color: white;
        text-align: center;  
    }
    h2 {font-weight: 100;}
}

#gitHub:hover {background: $gitHub;}
#stackOverflow:hover {background: $stackOverflow;}
#codepen:hover {background: $codepen;}
#drupal:hover {background: $drupal;}
#linkedIn:hover {background: $linkedIn;}
#twitter:hover {background: $twitter;}
#facebook:hover {background: $facebook;}
#googlePlus:hover {background: $googlePlus;}
#skype:hover {background: $skype;}

.resume-button {
    background: $red500;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 15px;
    line-height: 30px;
    &:hover {
        background: $red900;
    }
}


////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////
@media screen and (max-width: 1100px) {
    .landing {
        margin-top: 0;
        height: 100%;
        background-attachment: scroll;
        padding-top: 0;
        h1 {
            margin-top: 50%;
            font-size: 4em !important;
        }
        p {
            margin-top: 30px;
            font-size: 1.5em;
        }
    }
    
    header, {display: none;}
    
    .navbar{
        position: fixed;
        top: 0;
    }
    .navbar-on-scroll {
            li a {
                background: rgba(33, 33, 33, 0.9);
            }
        }
    .section-container {
        h1 {
            font-size: 2em;
        }
    }

////////////////////////////////////
// HAMBURGER ICON   
// ORIGINAL CODE CREDIT: Jesse Couch - https://codepen.io/designcouch/pen/Atyop
////////////////////////////////////
    #hamburger {
        position: absolute;
        top: 15;
        margin-left: 4%;
        width: 30px;
        height: 45px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #hamburger span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #hamburger span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #hamburger span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #hamburger.xIcon span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 4px;
    }

    #hamburger.xIcon span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #hamburger.xIcon span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 18px;
        left: 4px;
    }
    .anchor{
        display: block;
        height: 50px;
        margin-top: -50px;
        visibility: hidden;
    }

    .tile {
        width: 96%;
        max-width: 500px;
        display: block;
        float: none;
    }
    .tile-container {
        max-width: 500px;
        margin: 0 auto;
    }
  
    .social-icons-container {
        width: 264px;
        height: auto;
        display: block;
        box-sizing: border-box;
        overflow: hidden;
    }
    .social-icons {
        margin: 12px;
        width: 64px;
        height: 64px;
        padding: 0;
        border-radius: 32px;
        font-size: 32px;
        line-height: 64px;
    }

    .navbar {
        box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
        background: $grey900;
        height: 50px;
        ul li a{
            width: 100%;
            background: rgba(33, 33, 33, 0.9);
            height: 40px;
            line-height: 40px;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        .menu {
            display: block;
            margin-top: 50px;
            width: 100%;
            height: 0;
            overflow: hidden;
            box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
            li a {
                background: $grey900;
                color: white;
                &:hover {background: $grey700;}
            }
        }
        .open {
            height: 280px; 
            width: 100%;
            -webkit-transition: all 0.5s ease-in-out; 
            -moz-transition: all 0.5s ease-in-out; 
            -ms-transition: all 0.5s ease-in-out; 
            -o-transition: all 0.5s ease-in-out; 
            transition: all 0.5s ease-in-out; 
        }
    }
    
    .navbar-on-scroll {
        ul li a{background: white;}
    }
    
    .footer {min-height: 520px;}
}
